.header-container h1{
    font-size: 2em;
    margin-block: 0.67
}
/* Global Centering*/
.content-wrapper{
    max-width: 800px;
    margin: 0 auto;
    padding:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/* Container for bio and photo*/
.bio-container{
    display: flex;
    align-items: center;
    gap: 30px; /*Space between bio and photo*/
    max-width: 850px;
    margin: 0 auto;

}
/*Circular photo styling*/
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0; /*prevents resizing*/

}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Bio Section*/
.my-bio{
    text-align: left;
    margin:30px;
    flex: 1;

}
.my-bio p {
    margin-bottom: 2em;
    text-align: justify;
}

/*Publication List*/
.publications-list{
    margin: 40px;
}
.publications-list .title a {
    color: #007acc;
    text-decoration: none;
}
.publications-list .title a:hover{
    text-decoration: underline;
}

.publication{
    margin-bottom: 20px;
    padding: 10px
}

.title{
    font-weight: bold;
    font-size: 1.25em;
    color: #3494c4;
}
.bold-author{
    font-weight: bold;
}
.authors{
    color: #555;
    font-size: 1.1em;
}
.Journal{
    font-style: italic;
    font-size: 1.1em;
}

.publication:hover{
    background: #f1f3f5;
}

/*Visits container*/
.academic-visits{
    max-width: 850px;
    margin: 40px auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;

}

/*Individual visits*/
.visit{
    margin-bottom: 25px;
    padding: 15px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.institution{
    font-weight:600;
    font-size: 1.1em;
    color:#2c3e50;
    margin-bottom:8px;
}

.details{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    color: #555;
    font-size: 0.95em;
}

.location::before{
    content: "";
    margin-right:5px;
}

.date{
    font-weight: 500;
    color:#3498db;
}

.host, .purpose{
    font-style:italic;
}

/*Conference List*/
.conference-list{
    margin: 40px;
}
.conference{
    margin-bottom: 15px;
}